<div class="container">
<div class=" col-md-4 offset-4">
<mat-tab-group>
    <mat-tab label="Login"> 
        <form  class=" form-container" (ngSubmit)="login()" novalidate [formGroup]="loginForm">
            <mat-form-field>
                <input matInput placeholder="Email" type="email" formControlName="email">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>
            <div>
                <button mat-raised-button type="submit" color="primary">Login</button>
                <button class="right" mat-raised-button right type="reset" color="deafault">Cancel</button>
            </div>
        </form>

    </mat-tab>
    <mat-tab label="Signup"> 
        <form  class=" form-container " (ngSubmit)="signup()" novalidate [formGroup]="signupForm">
            <mat-form-field class="form-width">
                <input matInput placeholder="Name" type="text" formControlName="name">
                <mat-error *ngIf="signupForm.controls.name.invalid && signupForm.controls.name.touched">
                    Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-width">
                <input matInput placeholder="Email" type="email" formControlName="email">
                <mat-error *ngIf="signupForm.controls.email.invalid && signupForm.controls.email.touched">
                    Email is required
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" formControlName="password">
                <mat-error *ngIf="signupForm.controls.password.invalid && signupForm.controls.password.touched">
                    Password is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Amount" type="number" formControlName="amount">
                <mat-error *ngIf="signupForm.controls.amount.invalid && signupForm.controls.amount.touched">
                    Amount is required
                </mat-error>
            </mat-form-field>
            <!-- <mat-form-field> -->
                <mat-checkbox>Agree to terms and conditions</mat-checkbox>
            <!-- </mat-form-field> -->
            <div>
                <button mat-raised-button type="submit" color="primary">Sign up</button>
                <button class="right" mat-raised-button type="reset" color="deafault">Cancel</button>
            </div>
        </form>

    </mat-tab>
    <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
</mat-tab-group>
</div>
</div>  
